.bounce {
	background-color: #0b0724;
	color: #fffaf0;
	border: 1px dotted #2bcf15;
	border-radius: 5px;
	padding: 2px 4px;
	margin: 5px;
	cursor: pointer;
	z-index: 1;
	font-size: inherit;
	font-family: inherit;
	outline: 0;
}
.bounce:hover {
	cursor: pointer;
	animation: jelly 0.5s;
}
@keyframes jelly {
	0%,
	100% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}
.icon-button {
	background-color: #ff4d4d;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 15px;
	font-size: 24px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		transform 0.2s;
}
.icon-button:hover {
	background-color: #c00;
	transform: scale(1.05);
}
.icon-button:active {
	background-color: #900;
	transform: scale(0.98);
}
