.gamecard {
	background-color: #2c2f33;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition:
		transform 0.2s,
		box-shadow 0.2s;
	margin: 10px;
	padding: 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	width: 200px;
}

.gamecard:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.gamecard a {
	text-decoration: none;
	color: inherit;
}

.gameimage {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
}

.fa-map-pin {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.gameinfo {
	padding: 10px;
	background-color: #23272a;
	border-radius: 5px;
}

.gamename {
	font-size: 18px;
	color: #ffffff;
	margin: 5px 0;
}

.gamedesc {
	font-size: 10px;
	color: #b9bbbe;
}

.gamecontainer,
.pinned {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 0px;
	/* Space between cards */
}
