@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Style for the gamecard container (article) */
.gamecard {
	background-color: #2c2f33;
	font-family: "Montserrat", sans-serif;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: transform 0.2s, box-shadow 0.2s;
	margin: 10px;
	padding: 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	width: 200px;
}

/* Hover effect for the gamecard */
.gamecard:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Remove underline from links inside gamecard */
.gamecard a {
	text-decoration: none;
	color: inherit;
}

/* Style for the image inside the figure element */
.gamecard figure {
	margin: 0;
	padding: 0;
}

.gameimage {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
}

/* Style for the map pin icon */
.fa-map-pin {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

/* Style for the gameinfo section */
.gameinfo {
	padding: 10px;
	background-color: #23272a;
	border-radius: 5px;
}

/* Style for the game name */
.gamename {
	font-size: 18px;
	color: #ffffff;
	margin: 5px 0;
}

/* Style for the game description */
.gamedesc {
	font-size: 10px;
	color: #b9bbbe;
}

/* Grid layout for the gamecontainer and pinned sections */
.gamecontainer,
.pinned {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 0px;
}
