input {
	height: 14px;
	width: 480px;
	padding: 5px;
	border: 1px dotted rgba(235, 214, 109, 0.894);
	border-radius: 5px;
	background-color: #141414;
	color: #fff5e1;
	font-size: 13px;
}
input:hover {
	transition: 1s;
	padding: 4px 10px;
	transform: translateY(0);
	background-color: #0b0724;
	color: #fffaf0;
	border: solid 2px #2fff00;
}
