.button {
	background-color: #0b0724;
	color: floralwhite;
	border: 1px dotted rgb(43, 207, 21);
	border-radius: 5px;
	padding: 2px 4px;
	margin: 5px;
	cursor: pointer;
}

.button:hover {
	transition: 1000ms;
	padding: 2px 8px;
	transform: translateY(-0px);
	background-color: #0b0724;
	color: floralwhite;
	border: solid 3px rgb(252, 245, 115);
}

img {
	height: 100px;
	color: #001191;
	position: relative;
	top: 50px;
}

script {
	background-size: cover;
	color: white;
	position: absolute;
	width: 350px;
	border-radius: 5px;
	left: 50%;
	margin-left: -160px;
	padding: 16px 8px 8px;
	box-sizing: border-box;
}

#traf-say {
	display: none;
	font-size: 24px;
	color: red;
	position: absolute;
	top: 20px;
}

#traf-say:hover {
	font-size: 100vh;
}

#settingsimg {
	height: 28px;
	width: 28px;
	position: relative;
	top: 7px;
	background-color: #3d3d3d;
}

/*credits
body {
  text-align: center;
  font-size: 15px;
    background-color: black;
  color: aliceblue;
}
*/

::backdrop {
	background-image: linear-gradient(
		45deg,
		magenta,
		rebeccapurple,
		dodgerblue,
		green
	);
	opacity: 0.75;
}
.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.dropdown-display {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.dropdown-content {
	display: none;
	position: absolute;

	min-width: 160px;
	border: 1px solid #ccc;
	border-radius: 5px;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}
