@import "input.css";
@import "settings.css";
@import "text.css";
@import "other.css";
@import "gamecard.css";
@import "buttons.css";
@import "chemical.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

html,
body {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-size: 90%;
	height: 100%;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	text-align: center;
	color: floralwhite;
}

iframe {
	border: 2px solid aqua;
	border-radius: 10px;
}

select {
	background-color: #001141;
	border: 2px solid orange;
	color: floralwhite;
}

.navbar {
	color: rgb(255, 255, 255);
	background-color: rgb(36, 36, 36);
	text-align: center;
	left: 0%;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 1000;
}

<<<<<<< HEAD
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
  text-shadow: 2px 2px 0 #ff5733 !important;
}
=======
>>>>>>> 6ecf9246d06a7f357fff72d9fa08eaebb2dd2982
