#Aluben {
	font-size: 50px;
	color: #001191;
	text-decoration: underline;
}

#txt {
	font-size: 23px;
	color: honeydew;
}

.stinky {
	color: red;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
  text-shadow: 2px 2px 0 #ff5733 !important;
}